/*
    Contains all style elements for the pages of the portfolio site
    © 2024 Sjur Barndon <sjurbarndon@proton.me> 
*/



/*theme variables*/
:root {

    /*default theme green/red*/
    --primary-theme-color: #008000;
    --primary-theme-accent: #005204;
    --primary-theme-dark: #2b362bab;
    --secondary-theme-color: #d41414;
    --secondary-theme-accent: #7a0000;
    --secondary-theme-dark: #2e0000;
}


/* hero background image */
.bgimage {
    height:100vh;
    background: url('/assets/images/banner_main.webp');
    background-size:cover;
    background-attachment: fixed;
    /* position:relative; */
}

/*for a faded white line on line*/

/* .bgimage_thesis {
    position: relative;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
    background: url('/assets/projects/master/img/vafjorden_from_n2.jpg') center center/cover fixed;
}

.bgimage_thesis::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;  
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.7));  

    z-index: 2;
}

.bgimage_thesis_overlay {
    position: relative;
    height: 100vh;
    z-index: 2;
    background: url('/assets/projects/master/img/vafjorden_from_n2_overlay.jpg') center center/cover fixed;
}

.bgimage_thesis_overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%; //Adjust the height for the fade-in effect
    background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.7)); // Adjust the opacity here 
    z-index: 2;
} */


/***************************/
/* THESIS PROJECT PAGE *****/
/***************************/

/* thesis hero background image */
.bgimage_thesis{
    height:100vh;
    background: url('/assets/projects/master/img/vafjorden_from_n2.jpg');
    background-size:cover;
    background-attachment: fixed;
    position:relative;
    max-width: 100%; 
    overflow: hidden;
    z-index: 1;

    p{
        color: var(--primary-theme-accent);
    }
}
.bgimage_thesis_overlay {
    height:100vh;
    background: url('/assets/projects/master/img/vafjorden_from_n2_overlay.jpg');
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 2;
}



.master_image {
  width: 100%;
}

.underlay{
  background-size:cover;
  background-attachment: fixed;
  position:relative;
  z-index: -99;

}


/* for grid view */
.grid-container {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-gap: 2%;
  /* background-color: #fff; */
  /* color: #444; */
  margin: 120px;
}

.grid-box{
  /* background-color: #444; */
  /* color: #fff; */
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.figtext{
  color: #292929;
}
/***************************/
/* THESIS PROJECT PAGE END */
/***************************/

.bgimage_projects {
  height: 400px;
  background: url('/assets/images/banner_project.webp'); /* Adjust the URL accordingly */
  background-attachment: fixed;
  background-position: center bottom 150px; /* Center horizontally and shift down by 100 pixels */
  background-size: cover; /* Scale the background image to cover the entire container */
  background-repeat: no-repeat; /* Prevent repetition of the background image */
  position: relative;
}



/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
  color: black;
}
.portfolio-title {
  font-size: 4.5rem;
  color: black; 

}

.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(112, 112, 112);
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: var(--primary-theme-color)
}
.servicesText:hover {
    border: 1px solid var(--primary-theme-color);
}

/**********************/
/*NAVIGATION BAR STYLE*/
/**********************/

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

.navbarScroll.navbarDark {
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.5s ease; /* Add a transition for opacity */
}

.navbarScroll.navbarDark.show {
  background-color: rgb(0, 0, 0); 
}

.nav-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }


/**********************/
/* END NAVIGATION BAR */
/**********************/

/* social media icons styling */
.social-icons {
    font-size: 28px;
    cursor: pointer;
}

.fa-linkedin:hover, .fa-discord:hover, .fa-whatsapp:hover, .fa-envelope:hover, .fa-square-letterboxd:hover, .fa-book:hover, .lb:hover {
    color: var(--primary-theme-color);
    /*TODO: ADD SCRIPT FOR: fa-beat-fade*/
}
.fab {
    color: #000000;
}
.fa {
  color: #000000;
}


/* footer styling */
#footer {
    background-color: var(--primary-theme-dark);
    text-align: center;
 }

/* spacing on all sections */
#about, #portfolio_links, #portfolio, #skills, #portfolio_personal, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

#mapembed {
 
    width: 100%;
}

.icon {
    width: 40px; /* Set the width of the icon */
    height: 40px; /* Set the height of the icon */
}

.card-icon {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

a.nav-link {
    color: var(--primary-theme-color) !important;
    text-decoration: none !important;
}
a.nav-link:hover {
    color: var(--primary-theme-accent) !important;
  }
a.nav-link:active {
    /* background-color: rgb(242, 1, 1); */
    color: var(--secondary-theme-color) !important;
}



a.inline_link{
    color: var(--primary-theme-color) !important;
    text-decoration: none !important;
}
a.inline_link:hover {
    /* background-color: #ff5e5e81; */
    color: var(--primary-theme-accent) !important;
    text-decoration: underline !important
  }
a.inline_link:active {
    /* background-color: var(--primary-theme-dark); */
    color: red !important;
  }
a.inline_link:visited {
    /* background-color: #4a684d6e; */
    color: var(--secondary-theme-accent) !important
  }

i.icon-override{
    color: black !important;
}
i.icon-override:hover{
    color: var(--primary-theme-color) !important;
}

  .bloginprogress{
    padding-top: 5%;
  }

.overlay {
    display: none; /* Hide the overlay by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-dark);
    color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 9999; /* Ensure it appears above other elements */
    
  }

  .fade-out {
    transition: opacity 3s; /* Add a transition for opacity property with 3 seconds duration */
    opacity: 0; /* Start with 0 opacity */
  }
   
.blogbody{
    background-color: #F0F4F5;
}

.remove-button-style{
    background: none;
    color: inherit;
    padding: 0;
    border: none;
    cursor: no-drop;
    outline: inherit;
}


.image-card-label-container {
  position: relative;
  display: inline-block; /* Ensure container takes up only the space it needs */
}

.coming-soon {
  position: absolute;
  top: 50%; /* Place the label vertically in the middle */
  left: 50%; /* Place the label horizontally in the middle */
  transform: translate(-50%, -50%) rotate(-20deg); /* Center the label and rotate it */
  color: red; /* Change color as needed */
  font-size: 45px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
  white-space: nowrap; /* Prevent text from wrapping */
}

 /*****************/
 /* IMAGE GALLERY */
 /*****************/



.gallery {
    /* GRID LAYOUT - 4 IMAGES PER ROW */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 0px;  
    margin-top: 10 auto;
    overflow: hidden;
    transition: grid-template-columns ease 0.7s;
    transition: margin-left ease 0.7s;
  }

.gallery-pushed{
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    margin-left: 40% !important;
    transition: grid-template-columns ease 1s;
    transition: margin-left ease 1s;
}
  
  /* GALLERY IMAGES */
  .gallery img {
    /*DIMENSION */
    width: 100%;
    height: 100%;  
    padding: 0px;
  
    /* COLORS */
    border: 0px solid #000000;
    background: #000000;
  
    /* IMAGE RESIZE */
    /* cover | contain | fill | scale-down */
    object-fit: cover;

    z-index: 10;
  }
  
  /* SMALL SCREENS - 2 IMAGES PER ROW */
  @media only screen and (max-width: 600px) {
    .gallery{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
/* ZOOM ON HOVER (Exclude Fullscreen Images) */
.gallery img:not(.full):hover {
    z-index: 9;
    transform: scale(1.2);
        /* linear | ease | ease-in | ease-out | ease-in-out */
    transition: transform ease 1.2s;
}

/* FULLSCREEN MODE */
.gallery img.full {
    position: fixed;
    top: 50px; 
    left: 0;
    z-index: 900;
    width: 100vw;
    height: 100%;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Adjust the blur strength as needed */
    transition: ease 0.5s;
}

.gallery img.full:hover {
    transform: none;
    transition: none; /* Disable transition on hover for fullscreen images */
}

  #cbwrap{
    background:rgb(5, 5, 5);
    width:100%;
    padding:0px;
    margin-top: 55px;
    border-radius:0px
}

  #image-gallery{
    padding:0;
    margin:0;
    border:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
    background-color: #000000;
   
}
 
  #cbinfo{
    margin-top:0px;
    padding-top:0px;
    border-top:0px solid #ddd;
    font-size:13px;
    font-weight:700
}
  #cbinfo a{text-decoration:none;
    padding:0px;
    color:#fff;
    background:#a91616}

    /* Button styles */
    #togglePanelButton {
        position: fixed;
        bottom: 5%;
        left: 5%;
        transition: left 0.5s ease; /* Slide animation */
        z-index: 890; /* Ensure it's on top of other content */
    }


button.roundButton{
        /*Look :*/
        box-shadow: none;
        text-decoration: none;
        text-shadow: none;
        background-color: var(--primary-theme-color);
        color: white;
        border: none;
	    padding: 5px;
        border-radius: 50%;
        height: 84px;
}
button.roundButton:hover{
    background-color: var(--primary-theme-accent);
}
button.roundButton:active{
    background-color: var(--secondary-theme-accent);
}

  .toggleButtonToggled{
        left: 45% !important;
        transition: left 0.5s ease; /* Slide animation */
    }
  
  /* Side panel styles */
  #sidePanel {
    position: fixed;
    top: 0;
    left: -40%; /* Start off-screen */
    width: 40%;
    height: 100%;
    background-color: #000000;
    transition: left 0.5s ease; /* Slide animation */
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 890; /* Ensure it's on top of other content */
  }

  #sidePanel h2{
    padding:  5%;
    margin-top: 10%;
    font-size: xx-large;
    color: #fff; 
    }

  #sidePanel p{
    padding:  5%;
    color: white; 
  }  


  .sidePanelToggled{
    left: 0px !important;
    transition: left 0.5s ease; /* Slide animation */
  }
  
 
  /* Main content styles */
/* .gallerycontent {
    margin-left: 600;  
    transition: margin-left 0.3s ease; 
*/
    
 /*********************/
 /* END IMAGE GALLERY */
 /*********************/